{{ define "main" }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <p>
            <time itemprop="datePublished" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </p>
        <h1 itemprop="headline">
            {{ .Title }}
        </h1>
        <link itemprop="url" href="{{ .Permalink }}">
    </header>
{{ .Content }}
    <footer>
        {{ partial "dates.html" . }}
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        {{ with .PrevInSection }}<p><span class="meta-key">&larr;</span> <span class="meta-value"> <a rel="prev" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></span></p>{{ end }}
        {{ with .NextInSection }}<p><span class="meta-key">&rarr;</span> <span class="meta-value"> <a rel="next" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></span></p>{{ end }}
    </footer>
</article>
{{ end }}
